<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Workout Blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script   src="http://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
</head>
<body>
	<div class="wrapper">
		<header class="headerWorkout">
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				<div class="logo">
					NAZANIN
				</div>
				<div class="menu">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">CV</a></li>
						<li><a href="">Projects</a></li>
						<li><a href=".">Workout</a></li>
						<li><a href="">Painting</a></li>
						<li><a href="../../../violin/templates/violin/violin.html">Violin</a></li>
						<li><a href="">Languages</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="content">
			{% for object in queryset %}
			<div>
				<h2>{{object.title}}</h2>
				<p class="meta">{{object.body}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>